.content {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 499px) {
	p {
		font-family: 'Handlee', cursive;
		color: grey;
		font-size: 1em;
		text-decoration-color: lightgrey;
	}

	p#window{
		font-size: 3vw;
		margin-top: 3vh;
	}

	figcaption {
		text-align: center;
		color: lightgrey;
		font-size: 1.5em;
		font-style: bold;
	}

	h4 {
		font-size: 1.5em;
	}
}

@media screen and (min-width: 500px) {
	p {
		font-family: 'Handlee', cursive;
		color: grey;
		font-size: 1.2em;
		text-decoration-color: lightgrey;
	}

	p#window{
		font-size: 2vw;
		margin-top: 2vh;

	}

	figcaption {
		text-align: center;
		color: lightgrey;
		font-size: 2em;
		font-style: bold;
	}

	h4 {
		font-size: 2em;
	}
}

@media screen and (min-width: 1000px) {
	p {
		font-family: 'Handlee', cursive;
		color: grey;
		font-size: 2em;
		text-decoration-color: lightgrey;
	}

	p#window{
		font-size: 1.5vw;
		margin-top: 1.5vh;
	}

	figcaption {
		text-align: center;
		color: lightgrey;
		font-size: 2.5em;
		font-style: bold;
	}

	h4 {
		font-size: 2em;
	}
}