.content {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 499px) {
	p {
		font-family: 'Handlee', cursive;
		color: grey;
		font-size: 1em;
		text-decoration-color: lightgrey;
	}

	.window{
		font-size: 3vw;
		margin-top: 3vh;
	}

	h4 {
		font-size: 1.5em;
	}

	.logo {
		width: 20vw;
		height: 20vh;
	}
}

@media screen and (min-width: 500px) {
	p {
		font-family: 'Handlee', cursive;
		color: grey;
		font-size: 1.2em;
		text-decoration-color: lightgrey;
	}

	.window{
		font-size: 2vw;
		margin-top: 2vh;
	}

	h4 {
		font-size: 2em;
	}

	.logo {
		width: 150px;
		height: 150px;
	}
}

@media screen and (min-width: 1000px) {
	p {
		font-family: 'Handlee', cursive;
		color: grey;
		font-size: 2em;
		text-decoration-color: lightgrey;
	}

	.window{
		font-size: 1.5vw;
		margin-top: 1.5vh;
	}

	h4 {
		font-size: 2em;
	}

	.logo {
		width: 200px;
		height: 200px;
	}
}