* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	background-color: beige;
}

[class*="zocial-"]:before {
	display: inline-block;
	font-family: 'zocial', sans-serif;
	text-shadow: 3px 3px 3px #aaa;
	width: 1.5vw;
	color: #223186;
	margin: 1em 1em 1em 1em;
	text-align: center;
}

header {
	margin: 5vh 5vw auto auto;
}

article {
	margin-top: 3vh;
	margin-bottom: 3vh;
}

h1 {
	font-family: "Chewy", cursive;
	color: #f1bbcd;
	font-size: 4vw;
}

h2 {
	font-family: "Chewy", cursive;
	color: lightblue;
	font-size: 4vw;
}

h3 {
	font-family: "Chewy", cursive;
	color: grey;
	font-size: 4vw;
	font-weight: bold;
	margin: auto auto 3vw auto;
}

h4 {
	font-family: "Handlee", cursive;
	color: #f1bbcd;
	font-size: 2vw;
	text-decoration: underline;
	text-decoration-color: lightgrey;
}

footer {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background-color: lightgrey;
	opacity: 0.6;
	width: 100%;
	text-align: center;
	color: lightblue;
}

.modal-body {
	font-family: "Indie Flower", cursive;
	color: lightblue;
	font-size: 2vw;
}


.project {
	margin-top: 3vh;
	margin-bottom: 5vh;
}