/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
	display: flex;
	flex-wrap: wrap;
}

article {
	width: 50em;
	margin-left: 15em;
	margin-right: 15em;
}

h1 {
	color: lightblue;
	font-style: bold;
	font-size: 50px;
	width: 100%;
	text-align: center;
}

img {
	width: 100%;
	max-width: 100%;
}
.facepic {
	width: 20px;
	height: 20px;
}

figure {
	text-align: center;
	color: grey;
	font-size: 20px;
	font-style: bold;
}

.endliner {
	margin-bottom: 5em;
}

.source {
	text-align: center;
}

